@function px2vw($pxNum) {
  @return ($pxNum/750px) * 100vw;
}
@function px2vh($pxNum) {
  @return ($pxNum/750px) * 100vh;
}
.list{
  overflow: auto;
  height: calc(100% - #{px2vw(260px)});
  background-color: #f2f2f2;
  li{
    margin: px2vw(30px);
  }
}