@function px2vw($pxNum) {
  @return ($pxNum/750px) * 100vw;
}
@function px2vh($pxNum) {
  @return ($pxNum/750px) * 100vh;
}

.filter {
  display: grid;
  grid-template-columns: px2vw(188px) 1fr 1fr px2vw(186px);
  text-align: center;
  line-height: px2vw(80px);
  color: #666;
  font-size: px2vw(26px);
  :global {
    .icon {
      margin-right: px2vw(10px);
    }
  }
}

.triangle {
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.5em solid #666;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    margin-left: 0.5em;
  }
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
  overflow: auto;
  height: 0;
  transition: height 0.3s;
  // height: calc(100% - #{px2vw(90px+80px+100px)});
  ul{
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
  }
}
.active {
  .label {
    color: #ee3f3f;
  }
  .triangle::after {
    border-top-color: #ee3f3f;
  }
  .content {
    height: calc(100% - #{px2vw(90px+80px+100px)});
  }
}

.filterList {
  padding-left: px2vw(30px);
  li {
    line-height: px2vw(80px);
    font-size: px2vw(26px);
    color: #666;
    text-align: left;
    position: relative;
    background-color: #fff;
    &.active {
      color: #ee3f3f;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #eee;
    }
  }
}
