.gb-reset-btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.gb-red-text{
    color: #cb191d;
}
.gb-long-text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}