@function px2vw($pxNum) {
  @return ($pxNum/750px) * 100vw;
}
@function px2vh($pxNum) {
  @return ($pxNum/750px) * 100vh;
}

.user{
  height: calc(100% - #{px2vw(30px)});
  overflow: auto;
  background-color: #f1f1f1;
  padding-bottom: px2vw(30px);
}