@function px2vw($pxNum) {
  @return ($pxNum/750px) * 100vw;
}
@function px2vh($pxNum) {
  @return ($pxNum/750px) * 100vh;
}

.tradeNews{
  background: url(./assets/home_bg_jycg@3x.png) no-repeat;
  background-size: px2vw(78px) px2vw(78px);
  background-position: px2vw(30px) px2vw(21px);
  padding: px2vw(21px) px2vw(10px) px2vw(21px) px2vw(158px);
  height: px2vw(78px);
  overflow: hidden;
  background-color: #fff;
}
.tradeNewsList{
  height: 100%;
  font-size: 0;
  li{
    font-size: px2vw(26px);
    line-height: px2vw(78px);
  }
  span{
    font-size: px2vw(30px);
    color: #cb191d;
  }
}